.preloader
  background-image: url(asset_path('preloader.gif'))
  background-repeat: no-repeat
  position: absolute
  top: 0
  left: 0
  width: 100px
  height: 100px

battle
  .winner
    color: green
  .looser
    color: red