<!DOCTYPE html>
<html>
<head>
  <title>Manchkin</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="Manchkin">

<!--  <div class="card treasure-face"></div>
  <div class="card door-face"></div>
  <div class="card treasure"></div>
  <div class="card door"></div>

  <div class="card treasure-face race" draggable>
    <p class="name">Эльф</p>
    <p class="first-ability">+1 к Смывке</p>
    <p class="first-ability">Поднимаешься на 1 Уровень за каждого монстра которого помогаешь убить</p>
  </div> -->
<div ng-view=""></div>


<div loading class="preloader"></div>

<script type="text/ng-template" id='login.html'>
  <form novalidate class="simple-form" ng-submit="login()">
    <!--Email: <input type="text" ng-model="user.name" /><br />-->
    <!--Password: <input type="text" ng-model="user.name" /><br />-->

    <form>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <input ng-model="user.email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input ng-model="user.password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
      </div>

      <button type="submit" class="btn btn-default">Submit</button>
    </form>
    {{user}}
    <!--E-mail: <input type="email" ng-model="user.email" /><br />-->
    <!--Gender: <input type="radio" ng-model="user.gender" value="male" />male-->
    <!--<input type="radio" ng-model="user.gender" value="female" />female<br />-->
    <!--<input type="button" ng-click="reset()" value="Reset" />-->
    <!--<input type="submit" ng-click="update(user)" value="Save" />-->
    <!--<a href="#/waiting_room?name={{user.name}}">go to waiting room</a>-->
  </form>
</script>

<script type="text/ng-template" id='waitingRoom.html'>
  <p ng-click="click()">{{email}}</p>
  <div class="list">
    <ul>
      <li ng-repeat="player in players">{{player}} <span class="status">{{player.status}}</span></li>
    </ul>
  </div>
</script>







<script type="text/ng-template" id='gg.html'>
  <!--<a href="/">aa</a>-->
  <game-field owner="owner" players="players"></game-field>
</script>

<!-- inline templates -->
<script type="text/ng-template" id='gameField.html'>

  <div class="player-actions">
    <button ng-click="myAction()">
      draw door
    </button>
  </div>
  <div class="playground"
       droppable
       drop="handleDrop">
    <battle ng-show="isBattle" battle-params="battleParams"></battle>
    <other-players players="players" handle-action="handleAction(action)"></other-players>
  </div>

  <owner-player owner='owner' handle-action="handleAction(action)"></owner-player>
</script>

<script type="text/ng-template" id='battle.html'>
  {{$ctrl}}
  <div class="player owner" ng-class="{'winner' : playersCurrentlyWin, 'looser' : monstersCurrentlyWin }">
    <battle-player player="$ctrl.battleParams.owner">

    </battle-player>
  </div>
  <div>VS.</div>
  <div class="monsters"><battle-monster ng-repeat="monster in $ctrl.battleParams.monsters" card="monster.monster"></battle-monster></div>
</script>


<script type="text/ng-template" id='ownerPlayer.html'>

  <character char="$ctrl.owner" handle-action="$ctrl.handleActionn(action)"></character>
  <cards-field cards="$ctrl.owner.hand"></cards-field>

</script>


<script type="text/ng-template" id='character.html'>

  <div class="character"
       droppable
       drop="handleDrop"
       id="{{$ctrl.char.id}}">
    <div class="avatar"><img src=""></div>
    <div class="level">level: {{$ctrl.char.level}}</div>
    <div class="power">power: {{$ctrl.char.power}}</div>
  </div>
</script>


<script type="text/ng-template" id='cardsField.html'>
  <card ng-repeat="card in $ctrl.cards" card="card"></card>
</script>

<script type="text/ng-template" id='otherPlayers.html'>
  <div class='pl'
       droppable
       drop="handleDrop"
       style="transform-origin: 50% 50%"
       ng-repeat='player in playersPosition'
       ng-style="{ left: player.x, top: player.y, color: player.color }"
       rotate degrees="player.deg"
       id="{{player.id}}"
  ></div>
</script>



<script type="text/ng-template" id='card.html'>
  <div class="card treasure-face race" draggable id="{{ card.id }}">
    <p class="name">{{card.id}}</p>
    <p class="name">{{card.name}}</p>
    <p class="first-ability">{{card.first_ability}}</p>
    <p class="first-ability">{{card.second_ability}}</p>
  </div>
</script>


<script type="text/ng-template" id='battlePlayer.html'>
  <div class="card" id="{{ player.id }}">
    <p class="name">{{$ctrl.player.player.name}}</p>
    <p class="name">{{$ctrl.player.power}}</p>
  </div>
</script>

<script type="text/ng-template" id='battleMonster.html'>
  <div class="card" id="{{ card.id }}">
    <p class="name">{{card.id}}</p>
    <p class="name">{{card.name}}</p>
    <p class="first-ability">{{card.first_ability}}</p>
    <p class="first-ability">{{card.second_ability}}</p>
  </div>
</script>




</body>
</html>
